*{font-family:Montserrat;} /*fuente general*/

/*propiedades general de enlaces*/
a {text-decoration: none;
      color: #ffffff;
      font-size: 1.3rem;
      line-height: 1em;
      display: block;}

/*rayas horizantales generales*/
hr {width: 97%;
      border: #0B2E59 solid 0.15rem;}

/*titulos h4 generales*/
h4 {color: #7AB317;
      margin: 0.8rem 2.4rem;
      font-size: 1.5rem;
      margin-bottom: -0.5rem;}

/*texto de parrafo generales*/
      p {font-size: 1.8rem;
      color: #0B2E59;
      text-align: center;}

/* INDEX.html */
/*class del articulo de barra de seguimiento*/
.search {width: 32rem;
      display: flex;
      position: relative;
      margin: 5rem 0rem 0rem -5rem;}
    
/*class de barra de seguimiento*/
.searchTerm {width: 90%;
      border: 0.188rem solid #fdfdfd;
      border-right: none;
      padding: 0.313rem;
      height: 1.25rem;
      border-radius: 0.313rem 0 0 0.313rem;
      outline: none;
      color: #fdfdfd;
      margin: 0rem 0rem 0rem 3rem;}        
.searchTerm:focus{
color: #0B2E59;
font-size: 1rem;}

/*class de botón de barra de seguimiento*/
.searchButton {
      width: 2.813rem;
      height: 2.25rem;
      border: 0.063rem solid #7AB317;
      background: #7AB317;
      text-align: center;
      color: #fff;
      border-radius: 0 0.4rem 0.4rem 0;
      cursor: pointer;
      font-size: 1.25rem;}

/*reglas horizantales para footer*/
.hr-index {width: 97%;
      border: #ffffff solid 0.15rem;}

/*class de navbar*/      
.login-container {width: 100vw;
      height: 7rem; 
      background-color: #0B2E59;
      display: flex;
      justify-content:space-between; 
      box-shadow: 0 1px 4px #ffffff;}

/*imagen de logo de navbar*/
.logo {width: 16rem;
      margin: 1rem 2rem 0.5rem 2rem;}

/*class de "¡Te damos la Bienvenida!"*/
.texto-bienvenida {
      position: absolute;
      bottom: 46%;
      left: 10%;
      text-align: justify;
      font-size: 4.18rem;
      color: #ffffff;
      line-height: 95%;
      z-index: 45;}

/*class de "¿Querés saber dónde está tu envío?"*/
.texto-bienvenida1 {position: absolute;
      bottom: 30%;
      left: 10%;
      text-align: justify;
      font-size: 1.45rem;
      color: #ffffff;
      z-index: 50;}

/*class de imagen de fondo*/
.imagen-fondo {width: 100vw;
      height: auto;
      z-index: -5;}    

/*propiedades texto en barra de busqueda*/
::placeholder{color: #b3b3b3;
      opacity: 0.8;
      font-size: 1rem;}

/*propiedades de botón de barra de busqueda*/
#boton-tracking {all: inherit;
      background-color: #7AB317 ;
      cursor: pointer;
      width: 2.75rem;
      height: 2.75rem;
      border-radius: 0rem 0.313rem 0.313rem 0rem;}

/*propiedades de los archivos .svg de los botones de sucusales y ver envios*/
svg {color: #ffffff;
      fill: currentColor;
      width: 1.5rem;
      height: 1.5rem;
      padding: 0.625rem;}

/*class de footer*/  
.login-container2 {width: 100vw;
      background-color: #0B2E59;
      height: auto;}

/*propiedades lista general*/
li {text-align: left;
      color: #ffffff;
      list-style:none}

/*propiedades de los logos de redes sociales del footer*/
.li-logos {float: right;
      list-style:none;}

/*propiedades de los enlaces de los enlaces del footer*/
.column {
      float: left;
      width: 25%;}

/* Clear floats after the columns */
.row:after {content: "";
      display: table;
      clear: both;} 

/*propiedades de los .svg de logos de redes sociales del footer*/
.logos-contactanos {width: 5rem;
      float: unset;
      margin: 1rem 2.8rem 1rem 0rem;}

/* Los botones reciben el efecto que su opacidad desciende cuando son elegidos */
button:hover {opacity: 0.8;}

/* "Olvidé mi Contraseña" alieado a la derecha */
span.psw {float: right;}

/*propiedades del logo Xpress del footer*/
.logo-pie {width: 16rem;
      width: 16rem;
      margin: 1rem 0rem 1rem 2.5rem;;}

/*class de botones de sucursal y ver envíos*/   
.login-container3 {width: 100vw;
      height: 13rem;
      display:flex;
      justify-content:center;}

/*propiedades de svg de botones de sucursal y ver envíos*/   
.logo2 {width: 12rem;
      height: auto;
      border-radius: 2rem;
      box-shadow: 0rem 0.063rem 0.563rem 0 #b2b3b4b9;
      margin-left:2rem;
      padding: 1.5rem;}

/*propiedades de hover de botones de sucursal y ver envíos*/ 
.logo2:hover {opacity: 0.8;
      background-color: #cae994;}

/* LOGIN.html */
/*class del menú de login*/ 
.user-menu {
      color: #7AB317!important;
      font-size: 1.2rem;
      margin: 2.5rem 4rem 0 0;}    
.user-menu-div {
      line-height: normal;
      margin-bottom: 0.75rem}

/*propiedades botón de "Ingresar" en index*/
.boton {color: #ffffff;
      background-color: #0B2E59;
      padding: 0.5rem 1.2rem;
      border: 0.8rem, #ffffff, solid;
      border-radius: 3.5rem;
      text-decoration: none;
      display: inline;
      align-items:baseline;
      font-size: 1rem;
      margin: 2rem 4rem 1rem 0.8rem;
      transition-duration: 0.4s;
      cursor: pointer;
      height: 3rem}

/* ENVIOS.HTML */
/*propiedades de tabla*/ 
#customers {
      border-collapse:separate;
      width: 80%;
      margin: 0 auto 1rem auto;}

/*propiedades de color de filas tabla*/ 
#customers tr:nth-child(even){background-color: #f2f2f2;}

/*propiedades de hover filas tabla*/ 
#customers tr:hover {background-color: #ddd;}

/*propiedades de fila de titulo de tabla*/ 
#customers th {
      padding-top: 1rem;
      padding-bottom: 0.75rem;
      text-align: left;
      background-color: #7AB317;
      color: #ffffff;}

/*propiedades de filas de tabla*/ 
#customers td, #customers th {
      border: 0.063rem solid #ffffff;
      padding: 1rem;}

/*class container de camión*/ 
.container-camion {margin-left: auto;
      margin-right: auto;
      margin-top: 2rem;}

/*class container de info de envío*/
.container-envio {width: 78%;
      display:flex;
      justify-content:space-between;
      margin: 0 auto 0 auto;}

/*class container de texto de info de envío*/
.container-envio p {font-size: 1rem;
      text-align: left;
      margin: 0.5rem 0;}

/*propiedas del subtitulo h5*/
h5 {font-size: 1rem;
      margin: 0.5rem 0;}

/*propiedas del icono de imprimir*/
.print-city {margin-top: 4rem;}
.print-logo {float:right;
      cursor: pointer;}

/*margen inferior de las columnas del footer*/
.column li {margin-bottom: 0.5rem;}
.column1 li {margin-bottom: 0.5rem;}

/*propiedades del texto nro de envío*/
.nro-envio {width: 80%;
      margin-left:auto;
      margin-right:auto;}

/*tamaño de imagen del camión de envío*/
.camion {width: 100%;}

/* SUCURSAL.html */
/*class de imagenes de botones de retirar, despachar y comprar*/
.logo3 {width: 12rem;
      height: 10rem;
      border-radius: 2rem;
      box-shadow: 0rem 0.063rem 0.563rem 0 #b2b3b4b9;
      padding: 1.5rem;
      margin-left: 1.5rem;}

/*hover de imagenes de botones de retirar, despachar y comprar*/
.logo3:hover {opacity: 0.5;
      background-color: #cae994;}

/*class de container de los select de provincia y localidad*/
.container-sucursal {display:flex;  
      justify-content:center;
      margin: 0.8rem 1rem 0.5rem 2rem;
      padding: 0.5rem 1rem 0.5rem 2rem;}

/*class de margen de select de localidad*/
.localidad {margin-left: 2rem;}

/*propiedades de select de localidad*/
#location {width: 25rem;
      margin-bottom: 0.625rem;
      margin-top: 0.625rem;
      outline: 0;
      background: #ffffff;
      color: #999898;
      border: 0.125rem solid #0B2E59;
      padding: 0.5rem;
      border-radius: 0.563rem;
      font-size: 1rem;} 

/*propiedades de titulo lista de tipo de servicio*/
h3{margin: 0rem 0rem -1rem 25rem;
color: #0B2E59;}

/*class de container de la lista de tipo de servicio*/
.container-sucursal li {font-size: 1.2rem;
      color: #000000;
      list-style:none}

/*class de botón de Buscar*/
.container1 {position: relative;
      text-align:center;
      color: #0B2E59;}

/*propiedades de botón de Buscar*/
.container1 button {
      background-color: #7AB317;
      color: #ffffff;
      border-radius: 1.5rem;
      padding: 0.875rem 1.25rem;
      margin: 0.5rem 0;
      border: none;
      cursor: pointer;
      width: 41rem;
      font-size: 1.3rem;}

/*propiedades de Google Map*/
#googleMap {width: 100vw;
height: 600px;
position: static;
box-sizing: border-box}

/* DASHBOARD.html */
/*class del container de los botones de estado*/
.dashboard-container {width: 100vw;
      height: 38vh;
      display:flex;
      justify-content:center;
      margin: 1.5rem 0 1.5rem 0;}

/* PRECIOS.html */
/*class del container de la sección precios*/
.container-precios {display:flex;  
      justify-content:space-around;
      margin: 0.8rem 1rem 0.5rem 2rem;
      padding: 0.5rem 1rem 0.5rem 2rem;}

/*propiedades de la tabla de precios*/
#precios-postales {
      border-collapse:collapse;
      width: 60%;
      margin: 0 auto 2rem 0rem;}
#precios-postales tr:hover {background-color: #ddd;}
      
/*propiedades de filas de la tabla de precios*/
#precios-postales td {width: 30rem;
      height: 2rem;
      padding-top: 1rem;
      padding-bottom: 0.75rem;}
#precios-postales td, #precios-postales th {
      border: 0.063rem solid #ffffff;
      padding: 1rem;
      border-bottom: 0.2rem #ddd solid;}

/*propiedades de regla vertical*/
.vertical {border-left: 0.375rem solid #7AB317;
            height: 30rem;}

/*class de los enlaces del container de precios */
.container-precios a {font-size: 1.2rem;
      color: #0B2E59;
      list-style:none;}

/*class de los enlaces del container de precios */
.logos-precios {width: 15rem;
            float:initial;
      margin: 0.5rem 2.8rem -1rem 8rem;}
.logos-precios:hover {background-color: #ddd;}
        
/*class iconos de pregunta en la tabla de precio*/
.icono-pregunta {width: 0.8rem;
      height: auto;
      padding-left: 0.3rem;}

/*class de texto de titulo y parrafo*/
.precios h2{font-size: 1.8rem;
      text-align: center;
      color: #0B2E59;
      margin: 0.5rem 0rem;}
.precios p{font-size: 1.2rem;
      text-align: center;
      color: #0B2E59;
      margin: 0.5rem 0rem;}

/*class de texto de precios en tabla*/
.derecha {text-align: right;}

/*class de articulo de iconos de la izquierda*/
.precios-logos {width: 20%;
      float:initial;
      margin: 1rem 2.8rem 1rem 0rem;}

/*propiedades de titulo h6*/
h6 {font-size: 1rem;
text-align: center;
color: #0B2E59;
margin-top: auto;}

/*propiedades de columna de "Mantenerse actualizado" de footer*/
#actualizado {width: 60%;
      border: 0.188rem solid #fdfdfd;
      border-right: none;
      padding: 0.313rem;
      height: 1.25rem;
      border-radius: 0.313rem 0 0 0.313rem;
      outline: none;
      color: #0B2E59;}
                
.email {width: 2.2rem;
      height: 2.2rem;
      border: 0.063rem solid #7AB317;
      background: #7AB317;
      text-align: center;
      color: #fff;
      border-radius: 0 0.4rem 0.4rem 0;
      cursor: pointer;
      font-size: 1.25rem;}  

.search1 {width: 80%;
      display: flex;
      position: relative;
      margin: 1.5rem auto 1rem auto;}