*{font-family:Montserrat;
} /*fuente general*/

/*propiedades general de enlaces*/
a {text-decoration: none;
      color: #ffffff;
      font-size: 1.3rem;
      line-height: 1.3em;
      display: block;}

/*rayas horizantales generales*/
hr {width: 97%;
      border: #0B2E59 solid 0.15rem;}

/*titulos h4 generales*/
h4 {color: #7AB317;
      font-size: 1.2rem;
}

/*texto de parrafo generales*/
      p {font-size: 1.8rem;
      color: #0B2E59;
      text-align: center;}

/* INDEX.html */
.hr-index {width: 97%;
border: #ffffff solid 0.15rem;}

/*class de navbar*/   
.login-container-fluid {width: 98.5vw;
      height: 7rem; 
      background-color: #0B2E59;
      display: flex;
      justify-content:space-around; 
      }

.logo-footer {margin: 1rem 0.5rem 0.5rem 0.5rem;}    

.container-fluid1 {
      padding-right: 5rem;} 

/*imagen de logo de navbar*/
.logo {width: 16rem;
      margin: 1rem 2rem 0.5rem 2rem;}

/*class de footer*/  
.container-fluid1 {background-color: #0B2E59;
      height: auto;
      padding-left: 2.8rem;
      padding-right: 2.8rem}

/*propiedades lista general*/
li {text-align: left;
      color: #111111;
      list-style:none}

/*propiedades de los logos de redes sociales del footer*/
.li-logos {float: right;
      list-style:none;}

/*propiedades de los enlaces de los enlaces del footer*/
.column {
      float: left;
      width: 25%;}

/* Clear floats after the columns */
.row:after {content: "";
      display: table;
      clear: both;} 

/*propiedades de los .svg de logos de redes sociales del footer*/
.text-muted {
      --bs-text-opacity: 1;
      color: #7ab317!important;}

/* VER-ENVIOS.HTML 
/*propiedades de tabla*/ 
#historial-envios {
      border-collapse:separate;
      width: 75%;
      margin: 0 auto 1rem auto;}

/*class de texto de titulo y parrafo*/
.precios h2{font-size: 1.8rem;
      text-align: center;
      color: #0B2E59;
      margin: 0.5rem 0rem;}
.precios p{font-size: 1.2rem;
      text-align: center;
      color: #0B2E59;
      margin: 0.5rem 0rem;}

/*propiedades de filas de la tabla de envíos asociados*/
#historial-envios td, #historial-envios th {
      border: 0.063rem solid #ffffff;
      padding: 0.6rem 0.5rem;}

/*class de texto de titulo y parrafo*/
.historial-envios h2 {font-size: 1.8rem;
      text-align: center;
      color: #0B2E59;
      margin: 0.5rem 0rem;}

/*class del articulo de barra de seguimiento*/


/*class de barra de seguimiento*/
.searchTerm {width: 70%;
      border: 0.15rem solid #0B2E59;
      border-right: none;
      padding: 0.313rem;
      height: 2.3rem;
      border-radius: 0.313rem 0 0 0.313rem;
      outline: none;
      color: #fdfdfd;
      margin: 0 0 0 15vw;
      }        
.searchTerm:focus{color: #7AB317;}



/*class de botón de barra de seguimiento*/
.searchButton {
      width: 2.813rem;
      height: 2.25rem;
      border: 0.063rem solid #7AB317;
      background: #7AB317;
      text-align: center;
      color: #fff;
      border-radius: 0 0.4rem 0.4rem 0;
      cursor: pointer;
      font-size: 1.25rem;}

/*class rectangulos de envíos*/
.cuadros {width: 100%;
      padding-bottom: 1rem;
      border-bottom: 0.2rem #cae994 solid}

/*propiedades de columna de "Mantenerse actualizado" de footer*/
.actualizado {width: 20vw;
      border: 0.188rem solid #fdfdfd;
      padding: 0.91rem;
      height: 1.25rem;
      border-radius: 0.313rem 0 0 0.313rem;
      outline: none;}

/*propiedades texto en barra de busqueda*/
::placeholder{color: #b3b3b3;
      opacity: 0.8;
      font-size: 1vw;}
                
.email {
      width: 2.2rem;
      height: 2.2rem;
      border: 0.063rem solid #7AB317;
      background: #7AB317;
      text-align: center;
      color: #fff;
      border-radius: 0 0.4rem 0.4rem 0;
      cursor: pointer;
      font-size: 1.25rem;}  

/*class del menú de login*/ 
.user-menu {
      color: #7AB317!important;
      font-size: 1.2rem;
      margin: 2.5rem 1.5rem 0 0;
padding-right: 1.5rem;}
        
.user-menu-div {
      line-height: normal;
      margin-bottom: 0.75rem}

/*class del texto de "Entregado"*/
.entregado {text-align: right;
      color: #7AB317;
      font-weight: 500;} 

.fa-solid  {color: #ccc;}

.grid-container {background-color: #ffffff;
            margin: 0 10vw 2vh 12vw;
            padding-top: 1rem;}

.grid-item-titulo {background-color: #7AB317;
height: 2.8rem;
border-radius: 0.4rem 0.4rem;
width: 77vw;}

.grid-cuadros{grid-column: 1/5;
      height: 2rem;}

.grid-container > .envio-nro {display: flex;
justify-content: center;
margin-left: 0.5rem;
flex-direction: column;
line-height: 0.7rem;}

/*.grid-row {border: 0.1rem solid #0B2E59;}*/

.grid-container > .entregado {display: flex;
      align-items: center;
      margin-left: 0.5rem;
      justify-self: right;
     }

.grid-container > .greater-than {display: flex;
      align-items: center;
      margin: 0 0.5rem 0 0.5rem;
      justify-self: right !important}

.grid-container > .grid-item-titulo {display: flex;
            align-items: center;
            }

.grid-item-titulo {font-size: 1.3rem;
      color: #ffffff;
      font-weight: 700;
padding-left: 1rem;} 

.grid-envios {
      display: grid;
      grid-template-columns: 2% 10% 12% 10% 15% 12% 10% 15% 12%;
      grid-template-rows: 3rem 3rem 3rem 3rem 3rem 3rem;
      background-color: #ffffff;
      justify-content: space-evenly;
      
margin-bottom: 2.5rem;}

.grid-envios-titulo {width: 11rem;
      background-color: #0B2E59;
height: 2.8rem;
border-radius: 0.4rem 0.4rem;
display: flex;
      align-items: center;
padding-left: 1rem;
font-weight: 700;
color: #ffffff;}

.grid-cuadros{grid-column: 1/5;
      height: 2rem;}

.grid-container > .envio-nro {display: flex;
justify-content: center;
margin-left: 0.5rem;
flex-direction: column;
line-height: 0.7rem;}

/*.grid-row {border: 0.1rem solid #0B2E59;}*/

.grid-container > .entregado {display: flex;
      align-items: center;
      margin-left: 0.5rem;
      justify-self: right;
     }

.grid-container > .greater-than {display: flex;
      align-items: center;
      margin: 0 0.5rem 0 0.5rem;}

.grid-container > .grid-item-titulo {display: flex;
            align-items: center;
            }

.grid-item-titulo {font-size: 1.3rem;
      color: #ffffff;
      font-weight: 700;
padding-left: 1rem;} 

.busca-envios {position: relative;
      text-align:left;
      color: #0B2E59;}

.search-envios {
      width: 30rem;
      border: 0.18rem solid #0B2E59;
      border-right: none;
      padding: 0.4rem;
      height: 1.25rem;
      border-radius: 0.313rem 0 0 0.313rem;
      outline: none;
      color: #0B2E59;
      } 

.historial{
      width: 20rem;
      display: flex;
      position: relative;}

.exportar-logo  {width: 8rem;
margin-left: 1rem;}

.margin {margin: 0 12rem;}

.login-form {display: flex;
      align-items: center;
      width: 200rem;
      margin:0 3rem;
      border:1rem  #0B2E59 solid;
      border-radius: 5rem;}

.busca-envios > input {border: #0B2E59;
border-radius: 5rem;}

.titulos-envio {font-weight: 700;
}

.titulos-envio {font-size: 0.8vw;
      align-items: center;
      border-bottom-color: #ccc;}

.grid-envios > .texto-envio {display: flex;
      align-items: center;
      }

.logo-envios {width: 5rem;
}

.logos-detalle{  width: 1rem;
      ;}

.grid-envios > .logos-detalle {    display: flex;
      /* justify-content: center; */
      width: 1rem;
      align-content: center;
      flex-wrap: wrap;}

.prue {background-color: #7AB317;}

.container {
      width: 100%;
      border-radius: 2.5rem;
      border: 0.125rem solid #0B2E59;
      color: #0B2E59;
      padding: 0.75rem 1.25rem;
      margin: 0.5rem 0;
      font-size: 0.85rem;}

      .grid-envios > .titulos-envio {border-bottom:0.2rem solid #cae994;}

.navbar {padding: 0;}

.mb-3 {margin-left: 1rem;}